In [4]:
#import useful libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
# to render the figures in the notebook
%matplotlib inline

In [28]:
#read in the RNA-Seq dataset
#FPKM - Fragments Per Kilobase of transcript per Million mapped reads.
#dataset is tab seperated so '\t' must be used as the seperator
rna_seq = pd.read_csv('log2FPKM.tsv',sep = '\t')
rna_seq.head()

,00gene_id,NB001,NB002,NB003,NB004,NB005,NB006,NB007,NB008,NB009,...,NB489,NB490,NB491,NB492,NB493,NB494,NB495,NB496,NB497,NB498
0,1/2-SBSRNA4,0.834381,0.743094,0.909414,0.795775,0.905540,0.869154,1.811352,0.599240,0.981855,...,0.997977,1.003559,0.842437,1.057873,0.805515,0.491331,0.868249,0.911379,0.660139,1.152988
1,A1BG,1.910053,0.941996,1.950857,1.989477,1.942946,1.927608,1.617745,2.161291,1.436439,...,2.336929,2.836360,1.205317,2.439868,1.649027,1.451425,1.493852,1.641241,1.994978,1.289534
2,A1BG-AS1,1.453191,0.640614,1.156765,1.525277,1.365043,0.899212,1.304178,1.189205,0.771248,...,1.182908,1.367371,0.643751,1.096815,0.925425,0.933275,1.208723,0.904511,1.529221,1.102866
3,A1CF,0.005102,0.005902,0.005192,0.000000,0.025347,0.005682,0.000000,0.000000,0.021880,...,0.024298,0.007295,0.000000,0.006678,0.005746,0.004998,0.004853,0.000000,0.022780,0.018720
4,A2LD1,0.580151,0.738233,0.927667,0.936497,0.924853,0.739038,1.018705,0.546324,0.666877,...,0.673627,1.401265,0.837443,0.939849,0.743496,0.957837,0.812093,0.488748,1.068072,0.782887

In [29]:
# rename one of the columns to make the dataset clearer 
rna_seq.rename({'00gene_id':'gene_id'}, axis = 1, inplace = True)
#create an index
rna_seq.set_index('gene_id', inplace = True)
rna_seq.head()

,NB001,NB002,NB003,NB004,NB005,NB006,NB007,NB008,NB009,NB010,...,NB489,NB490,NB491,NB492,NB493,NB494,NB495,NB496,NB497,NB498
gene_id,,,,,,,,,,,,,,,,,,,,,
1/2-SBSRNA4,0.834381,0.743094,0.909414,0.795775,0.905540,0.869154,1.811352,0.599240,0.981855,1.066399,...,0.997977,1.003559,0.842437,1.057873,0.805515,0.491331,0.868249,0.911379,0.660139,1.152988
A1BG,1.910053,0.941996,1.950857,1.989477,1.942946,1.927608,1.617745,2.161291,1.436439,2.159797,...,2.336929,2.836360,1.205317,2.439868,1.649027,1.451425,1.493852,1.641241,1.994978,1.289534
A1BG-AS1,1.453191,0.640614,1.156765,1.525277,1.365043,0.899212,1.304178,1.189205,0.771248,1.114787,...,1.182908,1.367371,0.643751,1.096815,0.925425,0.933275,1.208723,0.904511,1.529221,1.102866
A1CF,0.005102,0.005902,0.005192,0.000000,0.025347,0.005682,0.000000,0.000000,0.021880,0.000000,...,0.024298,0.007295,0.000000,0.006678,0.005746,0.004998,0.004853,0.000000,0.022780,0.018720
A2LD1,0.580151,0.738233,0.927667,0.936497,0.924853,0.739038,1.018705,0.546324,0.666877,0.865850,...,0.673627,1.401265,0.837443,0.939849,0.743496,0.957837,0.812093,0.488748,1.068072,0.782887

In [23]:
# load in the microarray dataset
microarray = pd.read_csv('allProbIntensities.tsv', sep = '\t')
microarray.head()

,Reporter.Identifier,GeneSymbols,NB001,NB002,NB003,NB004,NB005,NB006,NB007,NB008,...,NB489,NB490,NB491,NB492,NB493,NB494,NB495,NB496,NB497,NB498
0,28913,NaN,14.99,14.94,12.48,14.63,11.89,15.09,13.07,12.00,...,13.62,13.03,14.98,13.36,13.90,13.00,13.79,14.70,14.03,12.31
1,27262,NaN,9.20,10.41,9.27,8.83,7.97,10.33,9.62,8.72,...,6.26,5.93,6.97,5.99,7.62,7.76,8.56,7.74,7.57,7.08
2,3180,NaN,5.06,5.26,6.45,2.89,2.00,4.80,3.05,6.39,...,0.93,0.58,1.26,1.38,3.49,2.07,2.26,2.29,2.63,2.54
3,41426,MBL1P,7.45,8.68,6.30,7.30,6.26,7.50,7.43,6.98,...,5.35,5.57,5.51,6.30,6.60,6.38,7.49,6.77,8.13,7.11
4,37033,NaN,6.74,6.63,6.75,6.20,6.57,6.01,6.78,4.80,...,4.58,4.61,3.54,4.55,4.20,7.16,7.07,5.07,6.28,6.34

In [30]:
# set an index
microarray.set_index('Reporter.Identifier',inplace = True)
microarray.head()

,GeneSymbols,NB001,NB002,NB003,NB004,NB005,NB006,NB007,NB008,NB009,...,NB489,NB490,NB491,NB492,NB493,NB494,NB495,NB496,NB497,NB498
Reporter.Identifier,,,,,,,,,,,,,,,,,,,,,
28913,NaN,14.99,14.94,12.48,14.63,11.89,15.09,13.07,12.00,11.70,...,13.62,13.03,14.98,13.36,13.90,13.00,13.79,14.70,14.03,12.31
27262,NaN,9.20,10.41,9.27,8.83,7.97,10.33,9.62,8.72,9.36,...,6.26,5.93,6.97,5.99,7.62,7.76,8.56,7.74,7.57,7.08
3180,NaN,5.06,5.26,6.45,2.89,2.00,4.80,3.05,6.39,6.43,...,0.93,0.58,1.26,1.38,3.49,2.07,2.26,2.29,2.63,2.54
41426,MBL1P,7.45,8.68,6.30,7.30,6.26,7.50,7.43,6.98,8.02,...,5.35,5.57,5.51,6.30,6.60,6.38,7.49,6.77,8.13,7.11
37033,NaN,6.74,6.63,6.75,6.20,6.57,6.01,6.78,4.80,5.15,...,4.58,4.61,3.54,4.55,4.20,7.16,7.07,5.07,6.28,6.34

In [35]:
#load in the patient factors, including potential endpoints
patient_info = pd.read_csv('patientInfo.tsv',sep = '\t').set_index('ID')
patient_info.head()

,FactorValue..Sex.,FactorValue..age.at.diagnosis.,FactorValue..death.from.disease.,FactorValue..high.risk.,FactorValue..inss.stage.,FactorValue..progression.
ID,,,,,,
NB498,female,530,NaN,NaN,NaN,NaN
NB497,female,379,0.0,0.0,1,0.0
NB496,male,132,NaN,NaN,NaN,NaN
NB495,male,163,0.0,0.0,1,0.0
NB494,male,56,NaN,NaN,NaN,NaN

In [43]:
# Some of the factor values are removed from the patient information
# These can be predicted with ML using either RNA-seq or microarray datasets
# To predict these values we must seperate the na samples into a prediction set and split the known samples into a train and test subset.

#split data based on known and unknown factors
patient_info_known = patient_info[patient_info['FactorValue..death.from.disease.'].notna()]
patient_info_unknown =  patient_info[patient_info['FactorValue..death.from.disease.'].isna()]
patient_info_known.head()

,FactorValue..Sex.,FactorValue..age.at.diagnosis.,FactorValue..death.from.disease.,FactorValue..high.risk.,FactorValue..inss.stage.,FactorValue..progression.
ID,,,,,,
NB497,female,379,0.0,0.0,1,0.0
NB495,male,163,0.0,0.0,1,0.0
NB493,male,190,0.0,0.0,1,0.0
NB491,male,2326,0.0,1.0,4,1.0
NB489,female,865,0.0,1.0,4,0.0

In [44]:
patient_info_unknown.head()

,FactorValue..Sex.,FactorValue..age.at.diagnosis.,FactorValue..death.from.disease.,FactorValue..high.risk.,FactorValue..inss.stage.,FactorValue..progression.
ID,,,,,,
NB498,female,530,NaN,NaN,NaN,NaN
NB496,male,132,NaN,NaN,NaN,NaN
NB494,male,56,NaN,NaN,NaN,NaN
NB492,male,947,NaN,NaN,NaN,NaN
NB490,female,1759,NaN,NaN,NaN,NaN

In [50]:
#now i must split the known subset into train and test groups
patient_info_known.shape
#there are 249 patients in this group so a 80/20 split for train and test only leaves 50 samples for testing, which is a bit small, so for now i will use a 70/30 split.

(249, 6)